/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 8, 2020, 2:28:30 PM
    Author     : frontend
*/


/*

> 0        ''      NO NAME

> 576px    SM    Small Devices

> 768px    MD    Medium Devices

> 992      LG    Large Devices

> 1200     XL    Extra Large

> 1400     XXL   Extra Extra Large

*/



@media(min-width:576px){
    /*  ABOUT*/
    .about .about-image-item .hover .hover-link{
        font-size: 1rem;
        margin-bottom: 3px;
    }
    .about .about-image-item .hover .hover-description{
        font-size: 10px;
    }
    .about .about-image-item .hover .about-hover-wrapper{
        top: 40%;
    }

    /*    NUMBERS*/

    .numbers .numbers-item .numbers-item-title{
        font-size: 60px;

    }
    /*WORK*/
    .team .team-image .team-hover .hover-wrapper{
        left: 30%;
    }

    /*PEOPLE*/

    .people .people-item .people-item-content .people-item-content-description:after{
        content: '';
        display: block;
        width: 60px;
        height: 3px;
        background-color: #F38181;
        margin-top: 17px;
        margin-left: 0;
        margin-right: 0;
    }



}

@media(min-width:768px){
    /*   NAVIGATION*/

    header .navbar-dark .navbar-nav .nav-link{
        margin-left: 20px;
    }
    header .navbar-dark .navbar-nav .nav-item-link{
        margin-left: 20px;
    }

    /*  ABOUT*/
    .about .about-image-item .hover .hover-link{
        font-size: 1.5rem;
        margin-bottom: 11px;
    }
    .about .about-image-item .hover .hover-description{
        font-size: 18px;
    }

    /*NUMBERS*/
    .numbers .numbers-item{
        padding: 90px 0;
    }

    /*    MESSAGE*/

    .message .message-wrapper{
        text-align: left !important;
    }
    .message .carousel-item a{
        text-align: center;
    }
    
    /*WORK*/

    .team .team-image .team-hover .hover-wrapper{
        left: 6%;
    }
/*    TESTIMONIAL*/

  .testimonial .testimonial-wrapper{
        text-align: left !important;
    }
    .testimonial .carousel-item img{
        text-align: center;
    }
    
    /*BLOG*/

    .blog .blog-item .blog-item-image .blog-item-image-date{

        top: 42%; 
    }
    
    .blog .blog-item h5 a{
        font-size: 11px;
    }
}

@media(min-width:992px){

    /*   NAVIGATION*/

    header .navbar-dark .navbar-nav .nav-link{
        margin-left: 30px;
    }
    header .navbar-dark .navbar-nav .nav-item-link{
        margin-left: 30px;
    }
    /*NUMBERS*/

    .numbers .numbers-item .numbers-item-title{
        font-size: 72px;

    }

    /*    HERO*/

    .hero .hero-title{

        font-size: 70px;
        line-height: 80px;
    }

    /*    WORK*/
    
    
     .team .team-image .team-hover .hover-wrapper{
        left: 17%;
    }
    /*BLOG*/

    .blog .blog-item .blog-item-image .blog-item-image-date{

        top: 55%; 
    }
    
    
    .blog .blog-item h5 a{
        font-size: 14px;
    }
/*CONTACT*/

.contact .contact-item .contact-icon{
    margin-bottom: 34px;
}
    
}

   



@media(min-width:1200px){
    /*   NAVIGATION*/

    header .navbar-dark .navbar-nav .nav-link{
        margin-left: 40px;
    }
    header .navbar-dark .navbar-nav .nav-item-link{
        margin-left: 40px;
    }

    /*    HERO*/

    .hero .hero-title{

        font-size: 140px;
        line-height: 150px;
    }
    /*  NUMBERS*/

    .numbers .numbers-item{
        border-right: 1px solid #FFFFFF;
    }
    .numbers .col:first-of-type > article{
        border-left: 1px solid #FFFFFF;
    }
    /*WORK*/

    .team .team-image .team-hover .hover-wrapper{
        left: 21%;
    }
    /*BLOG*/

    .blog .blog-item .blog-item-image .blog-item-image-date{

        top: 65%; 
    }
    /*CONTACT*/

.contact .contact-item .contact-icon{
    margin-bottom: 27px;
}
}

@media(min-width:1400px){

    /*WORK*/

    .team .team-image .team-hover .hover-wrapper{
        left: 25%;
    }
    .contact .contact-item .contact-icon{
    margin-bottom: 106px;
}

}