/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 8, 2020, 2:28:20 PM
    Author     : frontend
*/


html{
    font-size: 16px; /* 1rem*/
}

img{
    max-width: 100%;
}

.image-placeholder{
    position: relative;
    overflow: hidden;
}
.image-placeholder:after{
    content: '';
    display: block;
    padding-top: 56.62%;
}
.image-placeholder img{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.size-1by1:after{
    padding-top: 100%;
}

.size-4by3:after{
    padding-top: 75%;
}

body{
    color: #999999;
    font-size: 15px;
    line-height: 24px;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #333333;
    font-size: 30px;
}
p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;

}

.section-title{
    font-size: 30px;
    text-transform: uppercase;
    color: #333333;

}

.section-title:after{
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background-color: #F38181;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;

}

.section-pre-title{
    font-family: 'Kaushan Script', cursive;
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 23px;
}
.small-title{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 15px;

}

.small-description{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 15px;
    line-height: 24px;
}

/*HEADER*/

header{
    background-color: transparent;
}
.navbar-brand{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 30px;
}
.navbar-dark .navbar-brand:hover, .navbar-dark .navbar-brand:focus{
    color: #FCE38A;
}
header .navbar-toggler span{
    display: block;
    width: 35px;
    height: 3px;
    background-color: #FCE38A;
    margin-bottom: 5px;

}
header .navbar-toggler span:last-of-type{
    margin-bottom: 0;
}
header .navbar-dark .navbar-nav .nav-link{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
    transition: 0.3s linear;
    text-transform: uppercase;

    border-bottom: 3px solid transparent;
} 
header .navbar-dark .navbar-nav .nav-item-link{
    color: #FFFFFF;
    font-size: 14px;
    text-decoration: none;   
}
header .navbar-dark .navbar-nav .nav-item-link:hover{
    color: #FCE38A;
}
header .navbar-dark .navbar-nav .nav-link:hover,
header .navbar-dark .navbar-nav .nav-link.active{
    color: #FCE38A;
    border-bottom: 3px solid #FCE38A;
}


/*HERO*/


.hero .carousel-item{
    padding: 164px 0;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.hero .hero-pre-title{
    font-family: 'Kaushan Script', cursive;
    font-size: 72px;
    color: #FFFFFF;
    margin-bottom: 42px;
}
.hero .hero-title{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 50px;
    line-height: 60px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.hero .hero-title:after{
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    margin-top: 71px;
    margin-bottom: 50px;

}
.hero span button{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    padding: 14px 32px;
    border: 3px solid #FFFFFF;
}
.hero span .btn-outline-light:hover{
    color: #F38181;
    border-color:  #F38181;

}
.hero .carousel-indicators li{
    width: 280px;
    height: 3px;
    margin-right: 30px;
}


/*ABOUT*/

.about{
    padding: 91px 0 110px;
}
.about .about-title{
    margin-bottom: 47px;
}
.about .about-description{
    margin-bottom: 91px;
}
.about .about-image-item{
    position: relative;
    transition: 1s linear;
}
.about .about-image-item:hover{
    box-shadow: 10px 10px #95E1D3;
}
.about .about-image-item .hover{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(243, 129, 129, 0.6);
    display: none;
}
.about .about-image-item:hover .hover{
    display: block;
}
.about .about-image-item .hover .about-hover-wrapper{
    position: absolute;
    top:50%;
    left: 0;
    width: 100%;
    display: none;
    transition: 1s linear;
}
.about .about-image-item .hover:hover .about-hover-wrapper{
    display: block;
}
.about .about-image-item .hover .hover-link{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.5rem;
    margin-bottom: 11px;

}
.about .about-image-item .hover .hover-description{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
    text-transform: uppercase;

}

/*NUMBERS*/

.numbers {
    background-color: #95E1D3;


}
.numbers .numbers-item{
    padding: 40px 0;
    transition: 1s linear;
}
.numbers .numbers-item:hover h2{
    transform: scale(1.3);
}
.numbers .numbers-item .numbers-item-title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 72px;
    color: #FFFFFF;
}
.numbers .numbers-item .numbers-item-description{
    color: #FFFFFF;

}

/*SERVICES*/

.services{
    padding: 109px 0 71px;
}
.services .services-title{
    margin-bottom: 111px;
}
.services .service-item{
    padding: 51px 0;
    transition: 1s linear;
}
.services .service-item  h5 a{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 15px;
    text-decoration: none;
    color: #333333;
}
.services .service-item  h5 a:hover{
    color: #95E1D3;
}
.services .service-item .services-item-icon a{
    color: #95E1D3;
    font-size: 2rem;
    text-decoration: none;
}
.services .service-item:hover .services-item-icon a{
    transform: scale(1.5);
}
.services .service-item .services-item-content{
    text-align: left;
}
.services .service-item .services-item-content h5{
    font-weight: 400;
}

/*DESIGN*/

.design{
    padding: 109px 0 91px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
.design:after{
    content: '';
    display: block;
    width: 100%;
    height: 100px;
    position: absolute;
    left: 0;
    background-color: #FFFFFF

}
.design .design-title{
    margin-bottom: 45px;
}
.design .design-image{
    position: relative;

}
.design .design-image .design-phone{
    position: absolute;
    bottom: -17%;
    left: 60%;
    z-index: 1;
}

/*WHAT*/

.what{
    padding: 21px 0 120px;
}
.what .what-title{
    margin-bottom: 46px;
}
.what .what-description{
    margin-bottom: 92px;
}
.what .accordion .accordion-button{
    background-color: transparent;
    color: #000000;
}
.what .accordion .accordion-button span{
    color: #95E1D3;
    font-size: 1.5rem;
    margin-right: 16px;

}
.accordion-flush .accordion-item .accordion-button{
    border: 1px solid #E5E5E5;

}
.accordion-flush .accordion-collapse{
    border: 1px solid #E5E5E5;
}
.accordion-button:focus{
    box-shadow: 0 0 0 0.25rem rgba(149, 225, 211, 0.25);
}

/*MESSAGE*/

.message{
    background-color: #F8F8F8;
    padding: 80px 0 69px;
}
.message .carousel-item a{
    width: 150px;
    height: 150px;
    line-height: 140px;
    color: #95E1D3;
    font-size: 3rem;
    border: 3px solid #95E1D3;
    text-decoration: none;
}
.message .carousel-item a:hover{
    background-color: #95E1D3;
    color: #FFFFFF;
}
.message .message-description{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 24px;
    line-height: 36px;
}
.message .message-name{
    color: #333333;
}
.message .message-name:before{
    content: '';
    display: inline-block;
    width: 60px;
    height: 3px;
    background-color: #F38181;
    margin-right: 10px;
    vertical-align: middle;
}
.carousel-control-prev, .carousel-control-next{
    color: #CCCCCC;
    text-decoration: none;
    font-size: 1.5rem;
}

/*TEAM*/

.team{
    padding: 99px 0 117px;
}
.team h5 a{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #333333;
    text-decoration: none;
}
.team .team-title{
    margin-bottom: 46px;
}
.team .team-description{
    margin-bottom: 92px;
}
.team .team-image{
    position: relative;
}
.team .team-image .team-hover{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(243, 129, 129, 0.6);
    display: none;
}
.team .team-image .team-hover .hover-wrapper{
    position: absolute;
    top:50%;
    left: 19%;
    width: 100%;
    display: none;

}
.team .team-image:hover .team-hover, 
.team .team-image:hover .hover-wrapper{
    display: flex;
}
.team .team-image .team-hover .hover-wrapper a{
    width: 3rem;
    height: 3rem;
    line-height: 2.8rem;
    border: 1px solid #F38181;
    text-decoration: none;
    color: #F38181;
    background-color:#FCE38A;
    font-size: 1.5rem;
    transition: 1s linear;
}
.team .team-image .team-hover .hover-wrapper:hover a{
    color: #FFFFFF;
    background-color: #F38181;
    border: 1px solid #FCE38A;

}
.team .team-image{
    position: relative;
    margin-bottom: 30px;
    transition: 1s linear;
}
.team .team-image:hover{
    box-shadow: 10px 10px #95E1D3;
}

/*LOGO*/

.logo{
    background-color: #F8F8F8;
    padding: 50px 0;
}

/*WORK*/

.work{
    padding-top: 110px;
}
.work .work-title{
    margin-bottom: 46px;
}
.work .work-description{
    margin-bottom: 102px;
}
.work .work-image{
    position: relative;
}
.work .work-image .work-hover{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(243, 129, 129, 0.6);
    display: none;
}
.work .work-image:hover .work-hover{
    display: block;
}
.work .work-image .work-hover .work-hover-wrapper{
    position:absolute;
    top:38%;
    left: -1%;
    width: 100%;
    display: none;
    text-align: center;
}
.work .work-image .work-hover:hover .work-hover-wrapper{
    display: block;
}
.work .work-image .work-hover .work-hover-wrapper a{

    text-decoration: none;
    color: #FFFFFF;

    font-size: 1.5rem;
}
.work .work-image .work-hover:hover .work-hover-wrapper:hover a{
    color: #F38181;

}
.work .work-image .work-hover .work-hover-wrapper h5{
    color: #FFFFFF;
    margin-bottom: 10px;
}
.work .work-image .work-hover .work-hover-wrapper p{
    color: #FFFFFF;
}

/*TESTIMONIAL*/

.testimonial{
    padding: 100px 0 130px;
}
.testimonial .testimonial-description{

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 24px;
    line-height: 36px;
}
.testimonial .testimonial-name{
    color: #333333;
}
.testimonial .testimonial-name:before{
    content: '';
    display: inline-block;
    width: 60px;
    height: 3px;
    background-color: #F38181;
    margin-right: 10px;
    vertical-align: middle;
}

/*PEOPLE*/

.people{
    padding: 122px 0;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.people .people-title{
    margin-bottom: 87px;
}
.people .people-item .people-item-content a{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #333333;
    text-decoration: none;
}
.people .people-item .people-item-content a:hover{
    color: #F38181;
}
.people .people-item .people-item-content .people-item-content-description{
    margin-bottom: 24px;
}
.people .people-item .people-item-content .people-item-content-description:after{
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background-color: #F38181;
    margin-top: 17px;
    margin-left: auto;
    margin-right: auto;
}

/*BLOG*/

.blog{
    padding: 112px 0 117px;
}
.blog .blog-title{
    margin-bottom: 47px;
}
.blog .blog-item h5 a{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #333333;
    text-decoration: none;
}
.blog .blog-item h5 a:hover{
    color: #95E1D3;
}
.blog .blog-item .blog-item-image{
    position: relative;
    margin-bottom: 18px;
    transition: 1s linear;
}
.blog .blog-item .blog-item-image:hover{
    transform: scale(1.1);

}
.blog .blog-item .blog-item-title a{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 15px;

}
.blog .blog-item .blog-item-description{
   height: 100px;
    
}
.blog .blog-item .blog-item-image .blog-item-image-date{
    width: 60px;
    height: 70px;
    line-height: 60px;
    background-color: #95E1D3;
    color: #FFFFFF;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    padding: 15px;
    border-radius: 0;
    position: absolute;
    top: 65%;
    left: -3%;
    text-decoration: none;

}


.blog .blog-item .blog-item-numbers .blog-item-numbers-wrapper-icon                           
{
    color: #95E1D3;
    font-size: 1rem;
    margin-right: 8px;
    text-decoration: none;
   
}
.blog .blog-item .blog-item-numbers .blog-item-numbers-wrapper{
    transition: 1s linear;
}
.blog .blog-item .blog-item-numbers .blog-item-numbers-wrapper:hover a{
    transform: scale(1.3);
}
.blog .blog-item .blog-item-numbers .blog-item-numbers-wrapper-description{
    font-weight: 300;
    font-style: italic;
    margin-right: 19px;
}

/*MAP*/

.map{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 57px 0;
    transition: 2s linear;
}
.map .map-title{
    color: #F38181;
    font-size: 24px;
}
.map .map-title:after{
    margin-top: 21px;
}
.map a{
    font-size: 1.5rem;
    color:#F38181;
    margin-bottom: 18px;
    text-decoration: none;

}
.map a:hover{
    transform: scale(1.3);
}

/*CONTACT*/

.contact{
    padding:80px 0 69px;
    background-color: #F8F8F8;
}
.contact .contact-item-title{
    font-size: 46px;
    color: #CCCCCC;
    margin-bottom: 27px;
}
.contact .contact-item .contact-item-followers{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #333333;
    margin-bottom: 18px;
}
.contact .contact-item .contact-item-follow{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: italic;
    color: #999999;
    margin-right: 24px;
    text-transform: capitalize;

}
.contact .contact-item .contact-item-icon-wrapper{
    transition: 1s linear;
}
.contact .contact-item .contact-item-icon-wrapper:hover a{
    transform: scale(1.3);
}
.contact .contact-item .contact-item-icon-wrapper a{
    color: #95E1D3;
    font-size: 1rem;
    margin-right: 14px;
    text-decoration: none;
}
.contact .contact-item .contact-icon{
    margin-bottom: 38px;

}
.contact .contact-item .input-group{
    border: 0.5px solid #E7E7E7;
    background-color: #FFFFFF;
    color: #CCCCCC;

}
.contact .contact-item .input-group .form-control{
    border-radius: 0;
}
.contact .contact-item .input-group .form-control::placeholder{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 15px;
}
.contact .contact-item .input-group .btn-contact{
    background-color: #95E1D3;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 14px;
    border-radius: 0;
    text-transform: uppercase;

}
.btn-check:focus + .btn, .btn:focus{
    box-shadow: 0 0 0 0.25rem rgba(149, 225, 211, 0.25);
}
.form-control:focus{
    border-color: #95E1D3;
    box-shadow: 0 0 0 0.25rem rgba(149, 225, 211, 0.25);
}

.contact .contact-item-blog .contact-item-blog-title a
{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #333333;
    text-decoration: none;
}
.contact .contact-item-blog .contact-item-blog-item{
    margin-bottom: 30px;
}
.contact .contact-item-blog .contact-item-blog-item .contact-item-blog-item-img{
    margin-right: 20px;
}
.contact .contact-item-blog .contact-item-blog-item-wrapper h6{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    color: #333333;
    text-transform: uppercase;
    margin-bottom: 12px;

}
.contact .contact-item-blog .contact-item-blog-item-wrapper h6 a{
    text-decoration: none;
    color: #333333;
}
.contact .contact-item-blog .contact-item-blog-item-wrapper h6 a:hover{
    color: #95E1D3;
}
.contact .contact-item-blog .contact-item-blog-item .contact-item-blog-item-wrapper .contact-item-blog-item-description{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: italic;
    color: #999999;
    font-size: 12px;

}
.contact .contact-item-instagram .contact-item-instagram-title a{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #333333;
    text-decoration: none;
}
.contact .contact-item-instagram a:hover,
.contact .contact-item-blog a:hover{
    color: #95E1D3;;
}
.contact .contact-item-instagram figure{
    transition: 1s linear;
}
.contact .contact-item-instagram figure:hover img{
    transform: scale(1.2);

}
.contact .contact-item-instagram .instagram-link{
    color: #333333;
    text-decoration: none;
    font-size: 13px;
    line-height: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: italic;
}
.contact .contact-item-instagram .instagram-link:hover{
    color: #95E1D3;
}

/*   FOOTER*/ 

.footer{
    background-color: #F8F8F8;
    padding-bottom: 22px;


}
.footer  .footer-text{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #333333;
    margin-bottom: 0;
}
.footer  .footer-text a{
    text-decoration: none;

}
.footer  .footer-text a:hover{
    color: #95E1D3;
}
.footer  .footer-text:before{
    content: '';
    display: block;
    width: max-content;
    height: 1px;
    color: #E5E5E5;
    margin-top: 24px;
}
.text-orange{
    color: #F38181;
}